html   {
    height: 119%
}

body{
    background: linear-gradient(#bac6ee, #003ab6);
}

.titulo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 30px ;
    font-size: 220% ;
}

.texto {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 80px ;
    font-size: 180% 
}
.angelo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 130% 
}
.miguel {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 130% 
}
.joy{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 130% 
}
.greice{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 130% 
}
.sobre-video{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 130%;
    padding: 80px ;
}
.roteiro{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 130%;
    padding: 80px ;
}
